<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head><title>Settings</title></head>
<body>
<div layout:fragment="content">
    <h1 class="text-2xl font-bold mb-8">Organization Settings</h1>

    <div class="card bg-base-100 shadow-sm max-w-lg">
        <div class="card-body">
            <form th:action="@{/organization/settings}" method="post">
                <fieldset class="fieldset mb-4">
                    <legend class="fieldset-legend">Organization name</legend>
                    <input class="input input-bordered w-full"
                           type="text"
                           name="name"
                           th:value="${organization.name}"
                           required>
                </fieldset>
                <fieldset class="fieldset mb-6">
                    <legend class="fieldset-legend">Slug</legend>
                    <input class="input input-bordered w-full"
                           type="text"
                           th:value="${organization.slug}"
                           disabled>
                    <p class="fieldset-label text-base-content/50">Cannot be changed after creation</p>
                </fieldset>
                <div class="card-actions">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
